<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title layout:fragment="pageTitle">Routereceipt</title>
<link rel="stylesheet" th:href="@{/css/base.css}">
<link rel="stylesheet" th:href="@{/css/layout.css}">
<!-- 페이지별 css 주입 -->
<th:block layout:fragment="pageCss"></th:block>
</head>
<body class="pageWrapper">
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		       공통 Header - 네비게이션바와 로그인/회원가입 버튼으로 구성			      │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
	<div th:replace="~{fragments/header ::header}"></div>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		       공통 Header - 네비게이션바와 로그인/회원가입 버튼으로 구성			      │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->

<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		                    페이지별 콘텐츠 들어가는 영역			                  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
	<main layout:fragment="content" class="pageContent"></main>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		                    페이지별 콘텐츠 들어가는 영역			                  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->

<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		          공통 Footer - 보완 및 수정 예정(SNS 계정 추가)			          │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->	
	<div th:replace="~{fragments/footer ::footer}"></div>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		          공통 Footer - 보완 및 수정 예정(SNS 계정 추가)			          │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->

	<div class="goChatBot">
		<a th:href="@{/chatbot/chatBotPage}"
		onclick="window.open(this.href, '_blank', 'width=800,height=600'); return false;">
			<img th:src="@{/img/chatbot.gif}">
		</a>
	</div>

</body>
</html>