<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/base.css}">
<link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body class="pageWrapper">
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		       공통 Header - 네비게이션바와 로그인/회원가입 버튼으로 구성			      │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
	<div th:replace="~{fragments/header ::header}"></div>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		       공통 Header - 네비게이션바와 로그인/회원가입 버튼으로 구성			      │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->

<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		                    페이지별 콘텐츠 들어가는 영역			                  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
	<main layout:fragment="content" class="pageContent">
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		                    페이지별 콘텐츠 들어가는 영역			                  │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
	</main>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		          공통 Footer - 보완 및 수정 예정(SNS 계정 추가)			          │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->	
	<div th:replace="~{fragments/footer ::footer}"></div>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│		          공통 Footer - 보완 및 수정 예정(SNS 계정 추가)			          │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
</body>
</html>