<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/noticePage.css}">
</head>
<body>
	<div layout:fragment="content">
	
	    <section class="noticeContainer">
	        <div class="noticeWriteHeader">
	            <div>
	                <h2 class="noticeWriteTitle">공지사항 작성</h2>
	            </div>
	        </div>
	
	        <form th:action="@{/noticePage/noticeRegister}" method="post" class="noticeWriteForm">
	            <div class="writeRow">
	                <label for="n_title">제목</label>
	                <input type="text" id="n_title" name="n_title">
	            </div>
	            
	            <div class="writeRow">
	                <label for="n_content">내용</label>
	                <textarea id="n_content" name="n_content" rows="10"></textarea>
	            </div>
	
	            <div class="writeActions">
	                <button type="submit" class="btnSubmit">등록</button>
	            </div>
	        </form>
	    </section>
	
	</div>
</body>
</html>
