<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/base}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/index.css}">
<link rel="stylesheet" th:href="@{/css/login.css}">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
	
		<div class="loginArea">
			
			<h2 class="loginTitle">로그인</h2>

			<form action="/login" method="POST" class="loginForm">
				<div class="formRow">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<label for="u_id">아이디</label>
					<input id="u_id" type="text" name="u_id">
				</div>
				
				<div class="formRow">
					<label for="u_pw">비밀번호</label>
					<input id="u_pw" type="password" name="u_pw">
				</div>

				<button type="submit" class="loginBtn">로그인</button>
			</form>

			<div class="loginBottom">
				<a th:href="@{/user/userFindIdPage}" class="">아이디 찾기</a>
				<a th:href="@{/user/userResetPwPage}" class="">비밀번호 재설정</a>
				<a th:href="@{/user/userSignUpPage}">회원가입하기</a>
				<a th:href="@{/}" class="">메인으로 돌아가기</a>
			</div>
			
		</div>
	</div>
</body>
</html>
