<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/base}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/index.css}">
<link rel="stylesheet" th:href="@{/css/userfind.css}">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
	
		<div class="userFindArea">
			<form th:action="@{/user/userFindId}" method="post">
				<div class="userFindId">
					<div th:unless="${foundId}">
						<div>
							<label for="findId_email">이메일</label>
							<input id="findId_email" type="text" name="u_email">
						</div>
						<button type="submit" class="findBtn">아이디 찾기</button>
						<div class="findError" th:if="${idError}">
		        			<p th:text="${idError}"></p>
		    			</div>
					</div>
	
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│				          찾은 아이디 보여주는 화면							      │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->			
					<div class="findResult" th:if="${foundId}">
	        			<p>회원님의 아이디는 <span th:text="${foundId}"></span> 입니다.</p>
						<div>
							<a th:href="@{/user/userLoginPage}">로그인 하러가기</a>
						</div>
	    			</div>
<!--┌─────────────────────────────────────────────────────────────────────────────┐ -->
<!--│				          찾은 아이디 보여주는 화면							      │ -->
<!--└─────────────────────────────────────────────────────────────────────────────┘ -->
				</div>
			</form>
		</div>
	</div>
</body>
</html>