<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="footer">
	<div class="footerInner">
		<div class="footerTop">
			<div class="footerBrand">
				<p class="footerName">Routereceipt</p>
				<p class="footerDesc">영수증 관리부터 소비 분석까지, 한 번에</p>
			</div>
			
			<ul class="footerSns">
				<li><a th:href="@{https://instagram.com/Routereceipt}" aria-label="Instagram">Insta</a></li>
				<li><a th:href="@{https://instagram/Routereceipt}" aria-label="X">X</a></li>
				<li><a th:href="@{https://discord.gg/TstNTpg4}" aria-label="Discord">Discord</a></li>
			</ul>
		</div>
		
		<div class="footerBottom">
			<p>© Routereceipt. All rights reserved.</p>
		</div>
	</div>
</footer>
