<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header th:fragment="header" class="header">
	<div class="logo">
		<a th:href="@{/}">Routeceipt</a>
	</div>
	<nav class="navbar">
		<a th:href="@{/ReceiptRegisterPage}" class="navbarMenu">영수증 등록</a>
		<a th:href="@{/analysisPage}" class="navbarMenu">지출 분석</a>
		<a th:href="@{/noticePage}" class="navbarMenu">공지 사항</a>
		<a th:href="@{/userLoginPage}" class="navbarBtn">로그인</a>
		<a th:href="@{/userSignUpPage}" class="navbarBtn">회원가입</a>
	</nav>
</header>
</body>
</html>