<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/css/index.css}">
    <link th:rel="stylesheet" th:href="@{/css/error.css}">
    <title th:text="'403 ERROR'"></title>
</head>
<body>
    <div layout:fragment="content">
        <div class="errorContainer">
            <h4 class="errorTitle">접근 권한이 없는 페이지입니다.</h4>
            <a th:href="@{/}" class="errorBtn">메인으로 돌아가기</a>
        </div>
    </div>
</body>
</html>