@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
	font-family: Geist, sans-serif;
	color: #1a1a1a;
	margin: 0px;
}

a {
	text-decoration: none;
}

.pageWrapper {
    min-height: 2085px;           
    display: flex;
    flex-direction: column;      
}

.pageContent {
    flex: 1;                     
    background: #f8f8f8;
}