@charset "UTF-8";

* {
  box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: Geist, sans-serif;
	color: #1a1a1a;
}

a {
	text-decoration: none;
}

:root {
	--header-h: 72px;
}

.pageWrapper {
    min-height: 100vh;           
    display: flex;
    flex-direction: column;      
}

.pageContent {
	flex: 1;
  	background: white;
  	padding-top: var(--header-h);
}







