@charset "UTF-8";

.header {
	display: flex;								
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 16px 40px;
	justify-content: space-between;				
	align-items: center;
	z-index: 999;
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(15px);		
  	border: none;
  	height: var(--header-h);
  	box-sizing: border-box;
}

.navbarBtn {
	padding: 8px 16px;
    background: #5054ef;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-left: 6px;
}

.navbarBtn:hover {
	filter: brightness(0.95);
}

.navbar {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 16px;
	white-space: nowrap;
}

.logoText {
  	color: #111827;
  	font-size: 22px;;
  	font-weight: 700;
}

.navbarMenu {
  	margin: 0;
  	padding: 8px 10px;
  	font-weight: 500;
  	color: #333;
  	border-radius: 8px;
}

.navbarMenu:hover {
	background: rgba(2,32,71,0.05);
}

.navbarUser {
	margin-left: 6px;
	font-weight: 600;
	color: #111827;
}

.footer {
	background: linear-gradient(to bottom, #0f172a, #1e1b4b);
	color: white;
	padding: 16px 40px;
}

.footerInner {
	text-align: center;
	font-size: 15px;
}

.footer ul {
	margin: 12px 0 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 14px;
}

.goChatBot {
  	position: fixed;
  	right: 24px;
  	bottom: 24px;
  	z-index: 10000; /* header(999)보다 크게 */
}

.goChatBot img {
  	width: 70px;     
  	height: 70px;
  	border-radius: 30%;
  	border: 2px solid rgba(17, 24, 39, 0.10);
}




