<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.routerecipt.project.mapper.ReceiptMapper">

    <!-- ===================== ResultMap ===================== -->
    <!-- receipt + user + receipt_item -->

    <resultMap id="ReceiptWithItemsMap"
               type="com.routerecipt.project.dto.ReceiptDTO">

        <!-- receipt -->
        <id property="r_no" column="r_no"/>
        <result property="r_u" column="r_u"/>
        <result property="r_place" column="r_place"/>
        <result property="r_price" column="r_price"/>
        <result property="r_date" column="r_date"
                javaType="java.time.LocalDate"/>
		
		<result property="imagePath" column="image_path"/>
   		<result property="ocr_status" column="ocr_status"/>
		
        <!-- user -->
        <result property="gender" column="gender"/>

        <!-- receipt_item (1:N) -->
        <collection property="items"
                    ofType="com.routerecipt.project.dto.ReceiptItemDTO"
                    notNullColumn="item_id">
            <id property="item_id" column="item_id"/>
            <result property="item_name" column="item_name"/>
            <result property="item_category" column="item_category"/>
            <result property="item_price" column="item_price"/>
        </collection>

    </resultMap>

    <!-- ===================== SELECT: 월별 영수증 + 아이템 ===================== -->

    <select id="getSavedReceiptsDate"
            resultMap="ReceiptWithItemsMap">

        SELECT
            r.r_no,
            r.r_u,
            r.r_place,
            r.r_price,
            r.r_date,

            u.gender,

            i.item_id,
            i.item_name,
            i.item_category,
            i.item_price
        FROM recipt r
        JOIN user u
          ON r.r_u = u.u_id
       	LEFT JOIN receipt_item i
          ON r.r_no = i.r_no
        WHERE r.r_u = #{r_u}
          AND DATE_FORMAT(r.r_date, '%Y-%m') = #{yearMonth}
        ORDER BY r.r_date ASC, i.item_id ASC

    </select>

    <!-- ===================== INSERT: receipt ===================== -->

    <insert id="insertReceipt"
            parameterType="com.routerecipt.project.dto.ReceiptDTO"
            useGeneratedKeys="true"
            keyProperty="r_no"
            keyColumn="r_no">

        INSERT INTO recipt
        (r_u, r_place, r_price, r_date)
        VALUES
        (#{r_u}, #{r_place}, #{r_price}, #{r_date})

    </insert>

    <!-- ===================== INSERT: receipt_item batch ===================== -->

    <insert id="insertReceiptItems">

        INSERT INTO receipt_item
        (r_no, item_name, item_category, item_price)
        VALUES
        <foreach collection="items" item="it" separator=",">
            (#{r_no}, #{it.item_name}, #{it.item_category}, #{it.item_price})
        </foreach>

    </insert>
    
   <insert id="insertItem"
        parameterType="com.routerecipt.project.dto.ReceiptItemDTO">
  INSERT INTO receipt_item
  (
    r_no,
    item_name,
    item_category,
    item_price,
    ai_source,
    ai_confidence,
    suggested_label
  )
  VALUES
  (
    #{r_no},
    #{item_name},
    #{item_category},
    #{item_price},
    #{ai_source},
    #{ai_confidence},
    #{suggested_label}
  )
</insert>


<select id="selectItemsByReceiptNos"
        resultMap="ReceiptItemMap">
    SELECT
        i.item_id,
        i.r_no,
        i.item_name,
        i.item_category,
        i.item_price
    FROM receipt_item i
    WHERE i.r_no IN
    <foreach collection="nos" item="no" open="(" separator="," close=")">
        #{no}
    </foreach>
    ORDER BY i.r_no ASC, i.item_id ASC
</select>


<select id="selectTempReceiptsByNos"
        parameterType="java.util.List"
        resultMap="ReceiptMap">

    SELECT
        r.r_no,
        r.r_u,
        r.r_place,
        r.r_price,
        r.r_date,
        u.gender
    FROM recipt r
    JOIN user u
      ON r.r_u = u.u_id
    WHERE r.r_no IN
    <foreach collection="nos" item="no" open="(" separator="," close=")">
        #{no}
    </foreach>
    ORDER BY r.r_date ASC, r.r_no ASC

</select>

<!-- Receipt 단건(아이템 제외) -->
<resultMap id="ReceiptMap" type="com.routerecipt.project.dto.ReceiptDTO">
  <id property="r_no" column="r_no"/>
  <result property="r_u" column="r_u"/>
  <result property="r_place" column="r_place"/>
  <result property="r_price" column="r_price"/>
  <result property="r_date" column="r_date" javaType="java.time.LocalDate"/>
  <result property="gender" column="gender"/>
  <result property="imagePath" column="image_path"/>
  <result property="ocr_status" column="ocr_status"/>
</resultMap>

<!-- Item 단건 -->
<resultMap id="ReceiptItemMap" type="com.routerecipt.project.dto.ReceiptItemDTO">
  <id property="item_id" column="item_id"/>
  <result property="r_no" column="r_no"/>
  <result property="item_name" column="item_name"/>
  <result property="item_category" column="item_category"/>
  <result property="item_price" column="item_price"/>

  <!-- 필요하면 같이 조회할 때만 매핑됨 -->
  <result property="ai_source" column="ai_source"/>
  <result property="ai_confidence" column="ai_confidence"/>
  <result property="suggested_label" column="suggested_label"/>
</resultMap>


	<!-- 1) 영수증 기본 정보 업데이트 -->
	  <update id="updateReceiptBasic">
	    UPDATE recipt
	    SET
	      r_place = #{r_place},
	      r_date  = #{r_date},
	      r_price = #{r_price}
	    WHERE r_no = #{r_no}
	  </update>
	
	  <!-- 2) 기존 아이템 삭제 -->
	  <delete id="deleteItemsByReceiptNo">
	    DELETE FROM receipt_item
	    WHERE r_no = #{r_no}
	  </delete>
	
	  <!-- 3) 아이템 배치 삽입 (foreach + index로 3개 리스트 동기화) -->
	<insert id="insertItemsBatch">
  INSERT INTO receipt_item
  (
    r_no,
    item_name,
    item_category,
    item_price,
    ai_source,
    ai_confidence,
    suggested_label
  )
  VALUES
  <foreach collection="item_names"
           item="name"
           index="i"
           separator=",">
    (
      #{r_no},
      #{name},
      #{item_categories[${i}]},
      #{item_prices[${i}]},
      'USER',
      1.0,
      NULL
    )
  </foreach>
</insert>

<select id="selectRecentReceiptsByUser" resultMap="ReceiptMap">
    SELECT r.*
    FROM recipt r
    WHERE r.r_u = #{userId}
    ORDER BY r.r_no DESC
    LIMIT #{limit}
</select>

<update id="updateOcrStatus">
    UPDATE recipt
    SET ocr_status = #{ocr_status}
    WHERE r_no = #{r_no}
</update>

<update id="updateOcrStatusByImagePath">
    UPDATE recipt
    SET status = #{status}
    WHERE image_path = #{imagePath}
</update>

<insert id="insertPendingReceipt"
        parameterType="com.routerecipt.project.dto.ReceiptDTO"
        useGeneratedKeys="true"
        keyProperty="r_no"
        keyColumn="r_no">

    INSERT INTO recipt
    (
        r_u,
        image_path,
        ocr_status
    )
    VALUES
    (
        #{r_u},
        #{imagePath},
        #{ocr_status}
    )
</insert>

<select id="selectReceiptByImagePath"
        parameterType="string"
        resultMap="ReceiptMap">
    SELECT *
    FROM recipt
    WHERE image_path = #{imagePath}
</select>


</mapper>